<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="5.0"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
   <display-name>URL Servlet Web Application</display-name>
   <servlet>
        <servlet-name>URLServlet</servlet-name>
        <servlet-class>com.example.URLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>URLServlet</servlet-name>
        <url-pattern>/fetch</url-pattern>
    </servlet-mapping>
</web-app>
